.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  place-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .board {
    grid-template-columns: repeat(3, 7rem);
  }
}
