* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka One", sans-serif;
}

.title {
  text-align: center;
  padding: 2rem 0 1rem;
  font-weight: 400;
  color: #888;
  text-shadow: 0px 0px 5px white;
}
